/* 全局美化代码 */
body {
    background-image: url("https://static.xinghuo.website/wallpaper/programmer/v2-87753ec8664dc53f0f905e6f9519e7c6_720w.webp");
    background-size: cover; /* 让背景图片铺满整个页面 */
    background-attachment: fixed; /* 让背景图一直跟随页面 */
    background-repeat: no-repeat; /* 设置背景图片不重复 */
    background-position: center; /* 设置背景图片的位置 */
    font-family: url("https://static.xinghuo.website/API/get.php?targetUrl=https://static.xinghuo.website/ttf/Square_regular_script.ttf");
    /* 其他样式和属性根据需要添加 */
}

/* 文字居中代码 */
.centered {
    position: relative; /* 将元素的定位改为相对定位 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered::after {
    content: "";
    position: absolute;
    width: calc(100% + 100px); /* 宽度比文本多20px，前后都延长20px，根据需要调整 */
    height: calc(100% + 100px); /* 高度比文本多50px，前后都延长50px，根据需要调整 */
    background-color: rgba(255, 255, 255, 0.5); /* 蒙版的背景颜色，可以根据需要调整 */
    border-radius: 10px; /* 圆角的大小，根据需要调整 */
    top: -50px; /* 将蒙版上移50px以覆盖文本上部分 */
    left: 50%;
    transform: translateX(-50%); /* 使蒙版水平居中 */
    z-index: -1; /* 将蒙版放在元素的背后 */
}

/* 渐变文字颜色代码 */
@keyframes colorChange {
    0% {
        color: #FF6B6B;
    }
    30% {
        color: #FFB88C;
    }
    50% {
        color: #FFE66D;
    }
    80% {
        color: #96ff6d;
    }
    100%{
        color: #6dffec;
    }
}

.live-color-change {
    animation: colorChange 5s linear infinite alternate; /* 持续时间和效果可以根据需要调整 */
}



footer ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

footer ul li a:hover {
    color: #ccc;
}