.login {
  background-color: #018ef5;
  height: 100vh;
}

.loginform {
  margin-top: 0px;
  top: 100px;
  position: relative;
  border: 1px solid #ddd;
  background-color: #fff;
  position: relative;
  max-width: 400px;
  padding: 0
}

.container:before,
.container:after {
  display: table;
  content: " "
}

.container:after {
  clear: both
}

#owl-login {
  width: 116px;
  height: 92px;
  background-image: url(https://cdn.readme.io/public/img/login/face.png);
  position: absolute;
  top: -82px;
  left: 50%;
  margin-left: -64px
}

.arm-up-right {
  width: 51px;
  height: 41px;
  background-image: url(https://cdn.readme.io/public/img/login/arm-up-right.png);
  position: absolute;
  bottom: 11px;
  right: 5px;
  transform: translateX(57px) scale(.8);
  transform-origin: 0 40px;
  transition: background-position .3s ease-out, transform .3s ease-out, opacity 0s linear .3s;
  background-position: 0 25px;
  background-repeat: no-repeat;
  opacity: 0;
  filter: alpha(opacity=0)
}

.arm-up-left {
  width: 52px;
  height: 41px;
  background-image: url(https://cdn.readme.io/public/img/login/arm-up-left.png);
  position: absolute;
  bottom: 11px;
  left: -3px;
  transform: translateX(-34px) scale(.8);
  transform-origin: 0 40px;
  transition: background-position .3s ease-out, transform .3s ease-out, opacity 0s linear .3s;
  background-position: 0 25px;
  background-repeat: no-repeat;
  opacity: 0;
  filter: alpha(opacity=0)
}

.arm-down-left {
  width: 43px;
  height: 25px;
  background-image: url(https://cdn.readme.io/public/img/login/arm-down-left.png);
  position: absolute;
  bottom: 2px;
  left: -34px;
  transition: .3s ease-out;
}

.arm-down-right {
  width: 43px;
  height: 26px;
  background-image: url(https://cdn.readme.io/public/img/login/arm-down-right.png);
  position: absolute;
  bottom: 1px;
  right: -40px;
  transition: .3s ease-out;
}

.pad {
  overflow: hidden;
  padding: 30px;
}

.controls {
  position: relative;
  margin-bottom: 10px;
}


.loginform label {
  position: absolute;
  top: 13px;
  left: 13px;
  font-size: 16px;
  color: rgba(0, 0, 0, .3)
}

.loginform input {
  padding: 9px 6px 9px 40px;
  height: auto
}

.form-actions {
  border-top: 1px solid #e4e4e4;
  background-color: #f7f7f7;
  padding: 15px 30px;
  text-align: right
}

#owl-login.password .arm-down-left {
  transform: translateX(40px) scale(0) translateY(-10px);
  opacity: 0;
  filter: alpha(opacity=0)
}

#owl-login.password .arm-up-left {
  transform: scale(1);
  background-position: 0 0;
  opacity: 1;
  filter: none;
  transition: background-position .3s ease-out, transform .3s ease-out
}

#owl-login.password .arm-down-right {
  transform: translateX(-32px) scale(0) translateY(-8px);
  opacity: 0;
  filter: alpha(opacity=0)
}

#owl-login.password .arm-up-right {
  transform: scale(1);
  background-position: 0 0;
  opacity: 1;
  filter: none;
  transition: background-position .3s ease-out, transform .3s ease-out
}