body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    animation: fadeIn 2s;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

a {
    color: #00eaff;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

a:hover {
    border-bottom: 2px solid #00eaff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
